body {
    background-image: url("design_background.jpg");
    background-size: contain;
    color: white;
}

header {
    width: 100%;
    background-image: url('design_navbar.jpg');
    background-size: cover;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding: 10px 20px;
}

#navbar ul li:first-child {
    margin-right: auto;
}

#navbar ul li:first-child img {
    height: 100px; 
    width: auto;  
}

#navbar ul li a img {
    margin-left: 20px;
    height: 60px; 
    width: auto;
}





