body {
    background-image: url("design_background.jpg");
    background-size: contain;

    color: white;
}

/* For the links in the navbar */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}