body {
    background-image: url("design_background.jpg");
    background-size: contain;
    color: white;
}

/* Navigation bar styling */
header {
    width: 100%;
    background-image: url('design_navbar.jpg');
    background-size: cover;
    position: sticky;
    top:0;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding: 10px 20px;
}

#navbar ul li:first-child {
    margin-right: auto;
}

#navbar ul li:first-child img {
    height: 100px; 
    width: auto;  
}

#navbar ul li img {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    margin-left: 20px;
    height: 60px; 
    width: auto;
}

#navbar ul li:hover img{
    transform: translateY(-5px) scale(1.1);
    filter: brightness(1.2);
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.3));
}




